body *:not([style*="background-color"]) {
  background-color: white;
}


a {
  color: black;
  text-decoration: none;
}
.background {
  background-color: #ffffff;
  border-color: #e3e8e3;
  border-right-style: solid;
  border-right-width: 1px;
  height: 1200px;
  position: relative;
  width: 256px;
}
.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ddd;
  padding: 1rem;
}

.mainContent {
  margin-left: 350px; /* Відступ, щоб не заходити на sidebar */
  padding: 1rem;
  flex: 1;
}

.container {
  width: 400px;
  margin: center;
  justify-self: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  line-height: 2 rem;
  display: flex;
  height: 100vh;
}
body {
  font-family: Montserrat;
  background-color: #f9f9f9;
}
.heading-welcome {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  grid-column: 1 / span 2;
  border-top: 2px solid #ccc;
  padding-top: 1rem;
}

.lesson {
  padding: 0.75rem 1rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.schedule-container {
  display: block;
  gap: 1rem;
  width: 1110px;
  height: 450 px;
  margin: right;
  padding: 2rem;

  border-radius: 16px;
}

.day-heading {
  font-weight: medium;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  grid-column: 1 / span 2;
  border-top: 2px solid #ccc;
  padding-top: 1rem;
  margin-top: 1rem;
}
.lesson-name {
  font-weight: 500;
}

.lesson-time {
  font-size: 0.9rem;
}

.break {
  font-style: italic;
  text-align: center;
  color: #888;
  grid-column: 1 / span 2;
  margin: 1rem 0;
}
.sidebar-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
  max-width: 255px;
  height: 1042px;
  margin: left;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  line-height: 2.5rem;
  position: absolute;
}
.logo-container {
  display: left;
  justify-content: left;
  width: 100%;
}

.logo-image {
  width: 230px;
  height: auto;
}
.element {
  max-width: 450px;
  margin-bottom: -70px;
}

.text-wrapper {
  font-size: 16px;
  text-align: center;
  color: #6d786d;
  margin-bottom: 20px;
}

.heading-sign-in {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.subtext {
  font-size: 14px;
  color: #6d786d;
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 15px;
  cursor: text;
  width: 100%;
}

.input-wrapper input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  cursor: text;
  background: transparent;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.password-options {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin-bottom: 15px;
}

.forgot-password {
  color: #0d6efd;
  font-size: 12px;
  text-decoration: underline;
}

.login-button {
  width: 100%;
  background-color: #15481f;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
}

.login-button:hover {
  background-color: #0b5ed7;
}

.register-link {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.register-link a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

.stream {
  height: 260px;
  width: auto;
  margin-top: -50px;
  margin-left: 590px;
}

.element-light {
  width: 1920px;
  height: 1200px;
  background-color: #ffffff;
}

.element-light .container {
  position: relative;
  height: 1200px;
}

.element-light .background {
  position: absolute;
  width: 256px;
  height: 1200px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e3e8e3;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

.element-light .horizontal-border {
  position: absolute;
  width: 255px;
  height: 89px;
  top: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e3e8e3;
}

.element-light .link {
  position: absolute;
  width: 174px;
  height: 56px;
  top: 16px;
  left: 16px;
}

.element-light .overlap-group {
  position: relative;
  width: 224px;
  height: 102px;
  top: -23px;
  left: -24px;
}

.element-light .text-wrapper {
  position: absolute;
  width: 79px;
  height: 20px;
  top: 7px;
  left: 40px;

  font-weight: 500;
  color: #161d16;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
.element-light .element {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element-light .button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 28px;
  left: 207px;
  background-color: #15481f1a;
  border-radius: 9999px;
}

.element-light .nav-wrapper {
  position: absolute;
  width: 255px;
  height: 1042px;
  top: 89px;
  left: 0;
  overflow: scroll;
}
.element-light .nav {
  position: relative;
  width: 231px;
  height: 476px;
  top: 16px;
  left: 12px;
}

.element-light .div {
  top: 0;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .text-wrapper-2 {
  position: absolute;
  width: 79px;
  height: 20px;
  top: 7px;
  left: 40px;

  font-weight: 500;
  color: #161d16;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .link-2 {
  top: 44px;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .text-wrapper-3 {
  width: 69px;
  height: 20px;
  top: 7px;
  left: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  color: #161d16;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .link-3 {
  top: 88px;
  background-color: #15481f1a;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .link-4 {
  top: 132px;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .link-5 {
  top: 176px;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .link-6 {
  top: 212px;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .link-7 {
  top: 248px;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .link-8 {
  top: 284px;
  position: absolute;
  width: 231px;
  height: 36px;
  left: 0;
  border-radius: 10px;
}

.element-light .horizontal-border-2 {
  position: absolute;
  width: 255px;
  height: 69px;
  top: 1131px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e3e8e3;
}

.element-light .div-wrapper {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 17px;
  left: 16px;
  background-color: #15481f;
  border-radius: 9999px;
}

.element-light .text-wrapper-12 {
  height: 16px;
  top: 36px;
  left: 64px;

  font-weight: 400;
  color: #6d786d;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .main {
  position: absolute;
  width: 1664px;
  height: 1200px;
  top: 0;
  left: 256px;
  background-color: #f9fafb;
  overflow: scroll;
}

.element-light .main::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .container-2 {
  position: relative;
  width: 1400px;
  height: 788px;
  top: 24px;
  left: 132px;
}

.element-light .tablist {
  position: absolute;
  width: 448px;
  height: 40px;
  top: 0;
  left: 16px;
  background-color: #fafaf5;
  border-radius: 10px;
}

.element-light .tab {
  position: absolute;
  width: 42px;
  height: 32px;
  top: 4px;
  left: 4px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .background-border {
  position: absolute;
  width: 1368px;
  height: 724px;
  top: 64px;
  left: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: #e3e8e3;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .p {
  height: 20px;
  top: 54px;
  left: 25px;

  font-weight: 400;
  color: #6d786d;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .container-wrapper {
  position: absolute;
  width: 1318px;
  height: 600px;
  top: 99px;
  left: 25px;
}

.element-light .container-3 {
  position: relative;
  width: 1302px;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

.element-light .container-3::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .background-border-2 {
  height: 226px;
  top: 0;
  position: absolute;
  width: 1302px;
  left: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e3e8e3;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .background-2 {
  position: absolute;
  width: 90px;
  height: 22px;
  top: 28px;
  left: 1025px;
  background-color: #22c55e;
  border-radius: 9999px;
}

.element-light .text-wrapper-15 {
  width: 372px;
  height: 20px;
  top: 60px;
  left: 25px;

  font-weight: 400;
  color: #6d786d;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .span {
  font-weight: 500;
}

.element-light .paragraph-background {
  position: absolute;
  width: 1091px;
  height: 68px;
  top: 133px;
  left: 25px;
  background-color: #fafaf5;
  border-radius: 10px;
}

.element-light .text-wrapper-17 {
  width: 426px;
  height: 20px;
  top: 35px;
  left: 12px;

  font-weight: 400;
  color: #161d16;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .button-wrapper {
  position: absolute;
  width: 161px;
  height: 224px;
  top: 1px;
  left: 1140px;
  background-color: #f8fafc;
}

.element-light .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 113px;
  height: 36px;
  top: 94px;
  left: 24px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e3e8e3;
}

.element-light .background-border-3 {
  height: 186px;
  top: 250px;
  position: absolute;
  width: 1302px;
  left: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e3e8e3;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .background-3 {
  position: absolute;
  width: 92px;
  height: 22px;
  top: 28px;
  left: 983px;
  background-color: #3b82f6;
  border-radius: 9999px;
}

.element-light .text-wrapper-19 {
  height: 20px;
  top: 60px;
  left: 25px;

  font-weight: 400;
  color: #6d786d;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .text-wrapper-20 {
  height: 16px;
  top: 132px;
  left: 25px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  color: #161d16;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .progressbar {
  position: absolute;
  width: 1050px;
  height: 8px;
  top: 153px;
  left: 25px;
  background-color: #db7900;
  border-radius: 9999px;
  overflow: hidden;
}

.element-light .background-4 {
  position: relative;
  height: 8px;
  left: -367px;
  background-color: #184e23;
}

.element-light .background-5 {
  position: absolute;
  width: 202px;
  height: 184px;
  top: 1px;
  left: 1099px;
  background-color: #f8fafc;
}

.element-light .button-3 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 113px;
  height: 36px;
  top: 48px;
  left: 45px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e3e8e3;
}

.element-light .button-4 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 154px;
  height: 36px;
  top: 100px;
  left: 24px;
  background-color: #184e23;
  border-radius: 10px;
}

.element-light .background-border-4 {
  height: 186px;
  top: 460px;
  position: absolute;
  width: 1302px;
  left: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e3e8e3;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .text-wrapper-24 {
  width: 551px;
  height: 20px;
  top: 60px;
  left: 25px;

  font-weight: 400;
  color: #6d786d;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.element-light .background-6 {
  position: relative;
  height: 8px;
  left: -735px;
  background-color: #184e23;
}

.element-light .background-border-5 {
  height: 142px;
  top: 670px;
  position: absolute;
  width: 1302px;
  left: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e3e8e3;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .background-7 {
  position: absolute;
  width: 93px;
  height: 22px;
  top: 28px;
  left: 988px;
  background-color: #6b7280;
  border-radius: 9999px;
}

.element-light .text-wrapper-26 {
  position: absolute;
  width: 621px;
  height: 20px;
  top: 60px;
  left: 25px;

  font-weight: 400;
  color: #6d786d;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .background-8 {
  position: absolute;
  width: 196px;
  height: 140px;
  top: 1px;
  left: 1105px;
  background-color: #f8fafc;
}

.element-light .button-5 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 113px;
  height: 36px;
  top: 26px;
  left: 41px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e3e8e3;
}

.element-light .button-6 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 148px;
  height: 36px;
  top: 78px;
  left: 24px;
  background-color: #184e23;
  border-radius: 10px;
}

.element-light .text-wrapper-27 {
  position: absolute;
  width: 125px;
  height: 18px;
  top: 8px;
  left: 12px;

  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .background-border-6 {
  height: 142px;
  top: 836px;
  position: absolute;
  width: 1302px;
  left: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #e3e8e3;
  box-shadow: 0px 1px 2px #0000000d;
}

.element-light .background-9 {
  position: absolute;
  width: 75px;
  height: 22px;
  top: 28px;
  left: 999px;
  background-color: #ef4444;
  border-radius: 9999px;
}

.element-light .text-wrapper-29 {
  position: absolute;
  width: 427px;
  height: 20px;
  top: 60px;
  left: 25px;

  font-weight: 400;
  color: #6d786d;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .due-2 {
  width: 102px;
  position: absolute;
  height: 18px;
  top: 97px;
  left: 159px;

  font-weight: 400;
  color: #161d16;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.element-light .background-10 {
  position: absolute;
  width: 202px;
  height: 140px;
  top: 1px;
  left: 1099px;
  background-color: #f8fafc;
}

.element-light .button-7 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 113px;
  height: 36px;
  top: 26px;
  left: 45px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e3e8e3;
}

.element-light .button-8 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 154px;
  height: 36px;
  top: 78px;
  left: 24px;
  background-color: #184e23;
  border-radius: 10px;
}

.element-light .text-wrapper-30 {
  position: absolute;
  width: 131px;
  height: 18px;
  top: 8px;
  left: 12px;

  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
